img {
  float: left;
  height: 180px;
}

h1 {
  text-align: center;
}

body {
  background-color: black;
}

.whole-page {
  color: white;
}

img {
  margin: 7px;
  border: 7px solid black;
  padding: 5px;
}

.relevent {
  color: green;
  font-style: italic;
}

.slideleft {
  animation-duration: 2s;
  animation-name: slideleft; 
}

@keyframes slideleft {
  from {
    margin left: 100%;
    width: 300%;
  }


to {
  margin-left: 0%;
  Width: 100%;
}
}